:root {
  --card-size: 300px;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

#letterbox {
  width: var(--card-size);
  aspect-ratio: 1;
  color: white;
  overflow-wrap: anywhere;
  overflow: hidden;
}
